@import "node_modules/normalize-scss/sass/normalize/_import-now.scss";

@import "./imports/variables.scss";
@import "./imports/mixins.scss";
@import "./imports/animations.scss";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
body {
    font-family: 'Electrolize', sans-serif;
    font-size: $base-font-scale + em;
    overflow-y: scroll;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    background: $bg-dark url('images/bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: $text-default;
}

img {
    max-width: 100%;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

@-ms-viewport{
    width: device-width;
}

@page {
    margin: 0.5cm;
}

// --- App Styles --- //

textarea,
input[type="number"],
input[type="text"] {
    outline: none;
    @extend %input-styles;
}

a {
    &,
    &:visited,
    &:active {
        color: $feature-light;
    }
}

[readonly] {
    background: $bg-foreground;
}

.main-wrapper {
    @include bg-grid($bg-colour: transparent, $thick-colour: $border-dark, $thin-colour: darken($border-dark, 5%));
}

.intro {
    h1 {
        text-transform: uppercase;
        @include font-size(1.4);
        color: #efefef;
        margin: 0;
        margin-bottom: .4em;
    }

    .version,
    .links {
        font-family: 'Courier', sans-serif;
        @include font-size(.8);
        margin: .4em 0;
    }

    .logo {
        min-width: 80px;
    }
}

.main {
    // h1, h2, h3, h4, label {
    //     font-family: 'Courier';
    // }

    h3 {
        width: 100%;
        text-shadow: 0 0 30px rgba($feature-light,1);
        border-top: 1px solid $feature-light;
        margin: 1rem 0;
        padding-top: 1rem;
        position: relative;
        text-indent: 1rem;

        &:before {
            content: '';
            width: 100px;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background-color: $feature-light;
            height: 2px;
        }
    }

    border-top: 1px solid $border-light;
    border-right: 1px solid $border-dark;
    border-bottom: 1px solid $border-light;
    border-left: 1px solid $border-dark;
    max-width: 60em;
    margin: 1rem auto;
    padding: 1rem;
    position: relative;

    // &:before {
    //     width: 6px;
    //     height: 6px;
    //     display: block;
    //     position: absolute;
    //     top: -3px;
    //     left: -3px;
    //     background: $feature-light;
    //     content: '';

    //     @include rotate(45);
    // }

    &:after,
    &:before {
        width: 100%;
        height: 8px;
        display: block;
        position: absolute;
        top: -4px;
        left: 0;

        content: '';
        border: 4px solid transparent;
        border-right: 4px solid $feature-light;
        border-left: 4px solid $feature-light;
    }

    &:after {
        top: auto;
        bottom: -4px;
    }
}

.callout {
    background: rgba($bg-foreground, .8);
    border: 1px solid $border-light;
    padding: 1rem;
    margin: .5rem;

    h1, h2 {
        margin-top: 0;
    }
}

.expressionEditor {
    &__item {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1em;
        margin-top: .5em;
        margin-bottom: .5em;

        &-button {
            padding: .5em;
            margin-left: .25em;
            margin-right: .25em;
        }

        &-field {
            width: 100%;
            padding: .25em;
        }
    }

    &__items {
        margin-bottom: 1em;
    }

    // &__result-text {
    //     font-size: 2rem;
    // }
}

.hidden-toggle {
    display: none;

    &:target {
        display: block;
    }
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
        line-height: 0;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.button {
    @include font-size(.8);
    background: $bg-dark;
    border: 1px dashed $border-dark;
    border-top: 1px solid $border-light;
    padding: .6rem 1rem;
    color: $feature-light;
    cursor: pointer;
    margin: 0 .4rem;

    text-transform: uppercase;

    border-radius: .4rem;

    @include box-shadow(inset .1rem .1rem .8rem rgba($feature-light, .3));
    @include transition(box-shadow 200ms ease-in-out);

    &:hover,
    &:focus {
        outline: none;
        @include box-shadow(inset .3rem .1rem .8rem rgba($feature-light, .4));

        &.alert {
            border-color: $alert;
            @include box-shadow(inset .3rem .1rem .8rem rgba($alert, .4));
        }
    }

    &.success {
        color: $success;
    }

    &.alert {
        color: $alert;
    }
}

.icon-button {
    background: transparent;
    cursor: pointer;
    padding: .4rem;
    color: $text-default;
    border: 0;
    outline: none;

    @include transition(box-shadow 200ms ease-in-out);

    &.success {
        color: $success;
    }

    &.alert {
        color: $alert;
    }

    &:hover,
    &:focus {
        & {
            text-shadow: .1rem .1rem 1rem rgba($feature-light, .3);
        }
        &.success {
            text-shadow: .1rem .1rem 1rem rgba($success, .3);
        }
        &.alert {
            text-shadow: .1rem .1rem 1rem rgba($alert, .3);
        }
    }
}

.data-table {
    width: 100%;
    border: 1px solid $border-dark;
    border-collapse: collapse;
    margin: .5em 0;
    td {
        border: 1px solid $border-dark;
    }

    td, th {
        padding: .6em;
        vertical-align: top;
    }

    th {
        background-color: rgba($feature-light, .05);
        font-weight: 400;
        text-align: left;
        color: #efefef;
    }
}

@media (min-width: 37.5em) {
    .row {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        .col {
            flex: 0 1 auto;
        }

        .col-grow {
            flex-grow: 1;
        }

        .col-shrink {
            flex-shink: 1;
        }

        .box {
            padding: 0 .6em;
        }
    }
}

@for $i from 2 through 12 {
    .u-1of#{$i} {
        width: percentage(1 / $i);
    }
}

.uec {
    &:before {
        font-size: .8em;
        content: ' ¤';
    }
    &:after {
        content: ' UEC';
        vertical-align: text-top;
        font-size: .8em;
    }
}

.section {
    border: 1px dotted $border-dark;
    border-top-color: $border-light;
    background: rgba($bg-dark, .8);
    padding: 1rem;
    margin-top: 1rem;
    position: relative;

    &:before,
    &:after {
        content: '';
        font-size: 1.5rem;
        position: absolute;
        border: 1px solid $border-light;
        width: 4px;
        height: 4px;
    }

    &:before {
        top: -2px;
        left: -2px;
    }

    &:after {
        bottom: -2px;
        right: -2px;
        }
}

.footer {
    font-size: .8rem;
}

.manifest__route-map {
    &--item {
        padding: .6em;
        position: relative;
        text-align: center;

        &:before {
            content: '';
            top: -6px;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            position: absolute;
            background: $tab-colour-highlight;
            left: 50%;
            transform: translateX(-50%);
            z-index: 90;
        }

        &:after {
            content: '';
            top: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            position: absolute;
            background: $border-light;
            z-index: 80;
        }

        &:first-child:after {
            width: 50%;
            left: 50%;
        }

        &:last-child:after {
            width: 50%;
            right: 50%;
        }

        &:first-child,
        &:last-child {
            color: #efefef;
        }
    }
}

.formatted-value-field {
    display: flex;

    &__toggle,
    &__input {
        flex: 0 1 auto;
        min-width: 50%;
    }

    &__toggle {
        cursor: pointer;
        border: $border-light;
        background: $border-dark;
        color: $feature-light;
        @include font-size(.8);
    }
}


// Bring in react component styles.
@import "./imports/select.scss";
@import "./imports/tabs.scss";